/*Color Variables*/
$backgroundColor:#111111;
$primaryColor:#cececf;
$colorTan:#bf963d;
$colorBlue:#30c6cf;
$colorGreen:#28b54c;
$errorColor:#e84646;
$successColor:#28b54c;

/*Size Percentages*/

/*Fonts*/
$textArvo : Arvo;
$textQuicksand : Quicksand;
