/*Color Variables*/
$backgroundColor:#111111;
$primaryTextColor:#cececf;
$textColorTan:#bf963d;
$textColorBlue:#30c6cf;
$textColorGreen:#28b54c;
$errorColor:#e84646;

/*Size Percentages*/

/*Fonts*/
$textArvo : Arvo;
$textQuicksand : Quicksand;
