/*Color Variables*/
$backgroundColor:#111111;
$primaryColor:#cececf;
$colorTan:#bf963d;
$colorBlue:#30c6cf;
$colorGreen:#28b54c;
$errorColor:#e84646;
$successColor:#28b54c;

<<<<<<< HEAD
/*Sizes*/
$mobileSmall: 500px;
$mobile: 768px;
$tabletSmall: 999px;
$desktopSmall: 1210px;

/*Fonts*/
$textArvo : 'Arvo', serif;
$textQuicksand : 'Quicksand', sans-serif;
=======
/*Size Percentages*/

/*Fonts*/
$textArvo : Arvo;
$textQuicksand : Quicksand;
>>>>>>> ef7ab63c12157f54f15bacf8d04555a6e154f11a
